In [2]:
# importing necessary libraries 
# for data preprosessing, visualising
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import string
import nltk
import warnings
%matplotlib inline

In [4]:
# importing dataset and printing first 5 rows
df = pd.read_csv(r'data.csv' , encoding='latin-1')
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [5]:
# naming the column for later process and printing column names
df.columns=[ "target","ids","date", "flag","user","text"]
df.columns

Index(['target', 'ids', 'date', 'flag', 'user', 'text'], dtype='object')

In [6]:
# this funvti removes pattern in the input text
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for word in r:
        input_txt = re.sub(word, "", input_txt)
    return input_txt

In [7]:
# passing the text column into the function and saving into new column 'clean_tweet'
# printing the first 5 rows
df['clean_tweet'] = np.vectorize(remove_pattern)(df['text'], "@[\w]*")
df['clean_tweet'].head()

0    is upset that he can't update his Facebook by ...
1     I dived many times for the ball. Managed to s...
2      my whole body feels itchy and like its on fire
3     no, it's not behaving at all. i'm mad. why am...
4                                  not the whole crew
Name: clean_tweet, dtype: object

In [8]:
# Removing Punctuations, Numbers, and Special Characters
df['clean_tweet'] = df['clean_tweet'].str.replace("[^a-zA-Z#]", " ")
df['clean_tweet'].head()
# ll

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3820\785911917.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['clean_tweet'] = df['clean_tweet'].str.replace("[^a-zA-Z#]", " ")

0    is upset that he can t update his Facebook by ...
1     I dived many times for the ball  Managed to s...
2      my whole body feels itchy and like its on fire
3     no  it s not behaving at all  i m mad  why am...
4                                  not the whole crew
Name: clean_tweet, dtype: object